$background_color: #F4F0EC;
$text_color: #161706;
$body_border_color: #732914;

body {
  font: {
    family: 'Exo 2', sans-serif;
    weight: 400;
    size: 1.2em;
  }

  line-height: 1.7em;
  background-color: $background_color;
  color: $text_color;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font: {
    family: 'Exo 2', sans-serif;
    weight: 200;
    style: italic;
  }
}

#main {
  border-top: .2em solid $body_border_color;
  border-bottom: .8em solid $body_border_color;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 768px;
}

header {
  nav {
    float: right;
    margin: 0;
    padding: 0 0 0 30px;
    ul {
      list-style: none;
    }
  }
}

pre {
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow-x: auto;
  line-height: 1em;
  font-size: .9em;
  padding: 8px 15px;
  margin-bottom: 22px;
}

nav.post-nav {
  ul {
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: inline-block;
      vertical-align: top;
      font-size: .8em;
      width: 40%;
      margin: 0;
      padding: 0;

      &.next {
        text-align: right;
      }
    }
  }
}

byline {
  display: inline-block;
  padding-bottom: 20px;
  color: #997373;
  font-size: .6em;
}

a:hover,
a:visited:hover {
  text-decoration: underline;
}

@media screen
and (max-device-width: 640px)
and (-webkit-device-pixel-ratio: 2) {
  #main {
    max-width: none;
    padding: 50px 20px;
  }
}

@media screen
and (max-device-width: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: portrait) {
  body {
    font-size: 3.2em;
  }
}

@media screen
and (max-device-width: 640px)
and (-webkit-device-pixel-ratio: 2)
and (orientation: landscape) {
  body {
    font-size: 2.2em;
  }
}
