---
layout: main
---

{% for post in paginator.posts %}
<article>
  <h2><a href="{{ post.url }}" title ="{{ post.title }}">{{ post.title }}</a></h2>
  <byline>{{ post.date | date_to_string }}</byline>
  {{ post.content }}
</article>
{% endfor %}

<div class="pagination-centered">
  <ul id="post-pagination" class="pagination">
    <li class="arrow{% if paginator.previous_page %} unavailable{% endif %}">
    <a href="{{ paginator.previous_page_path }}" title="Previous Page">&larr;</a>
    </li>
    <li{% if paginator.page == 1 %} class="current unavailable"{% endif %}>
      <a href="/">1</a>
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li{% if count == paginator.page %} class="current unavailable"{% endif %}>
        <a href="/page{{ count }}">{{ count }}</a>
      </li>
    {% endfor %}
    <li class="arrow{% if paginator.next_page %} unavailable{% endif %}">
      <a href="{{ paginator.next_page_path }}" title="Next Page">&rarr;</a>
    </li>
  </ul>
</div>
