---
layout: main
---
<!--

paginator.per_page Number of posts per page.
paginator.posts Posts availablenessble for that page.
paginator.total_posts Total number of posts.
paginatortor.total_pages Total number of pages.
paginator.page The number of Totalhe current page.
paginator.previous_page The number of the previous paginatorge.
paginator.next_page The number of the next page.

-->

<p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
{% if paginator.previous_page %}
<p><a href="/page{{ paginator.previous_page }}" title="Page {{ paginator.previous_page }}">Previous &laquo;</a></p>
{% endif %}
{% if paginator.next_page %}
<p><a href="/page{{ paginator.next_page }}" title="Page {{ paginator.next_page }}">Next &raquo;</a></p>
{% endif %}

{% for post in paginator.posts %}
<article>
  <h1><a href="{{ post.url }}" title ="{{ post.title }}">{{ post.title }}</a></h1>
  {{ post.content }}
</article>
{% endfor %}

{% if paginator.previous_page %}
<p><a href="/page{{ paginator.previous_page }}" title="Page {{ paginator.previous_page }}">Previous &laquo;</a></p>
{% endif %}
{% if paginator.next_page %}
<p><a href="/page{{ paginator.next_page }}" title="Page {{ paginator.next_page }}">Next &raquo;</a></p>
{% endif %}
<p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
