<div id="personal">
  <ul class="social">
    <li>Loving Husband and Father of 3 delicious morsels</li>
    <li>Maintainer of the <a href="https://rubygems.org/gems/protobuf" title="protobuf">ruby protobuf gem</a></li>
    <li>Open source and playground coding at <a href="https://github.com/localshred">github.com/localshred</a></li>
    <li>Tweets of every conceivable purpose at <a href="https://twitter.com/localshred">twitter.com/localshred</a></li>
    <li>I work my socks off at <a href="http://www.moneydesktop.com/" title="MoneyDesktop">MoneyDesktop</a></li>
  </ul>
  <br style="clear:both;">

</div>
