<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:200italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/foundation.css" type="text/css">
    <link rel="stylesheet" href="/css/pygments.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <script type="text/javascript" src="/js/foundation.min.js"></script>
  </head>

  <body>
    <div id="main">
      <header>
        <nav>
          <ul>
            <li><a href="/">posts</a></li>
            <li><a href="https://twitter.com/localshred">twitter</a></li>
            <li><a href="https://github.com/localshred">github</a></li>
          </ul>
        </nav>
      </header>

      {{ content }}

      <footer>
      </footer>
    </div>
  </body>
</html>

