<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/pygments.css" type="text/css">
  </head>

  <body>
    <div id="main">
      <header>
        <h1>localshred</h1>

        <nav>
        <ul>
          <li><a href="/">posts</a></li>
        </ul>
        </nav>
      </header>

      {{ content }}

      <footer>
      <p>This is where something cool would go.</p>
      </footer>
    </div>
  </body>
</html>

